<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <!--<script src="https://kit.fontawesome.com/e7558c5ba9.js"></script>-->

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="../static/css/inicio.css" th:href="@{/css/index.css}">
    <title>Empleado</title>

    <div class="jumbotron">
        <nav class="navbar navbar-expand-lg navbar-light bg-light Bnavegacion">
            <a href="#" class="navbar-brand">D'ROCHA S.A</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#contenidoNavegacion"
                aria-controls="contenidoNavegacion" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--Contenido de navegacion-->
            <div class="collapse navbar-collapse" id="contenidoNavegacion">
                <ul class="navbar-nav  ml-auto">
                    <li class="nav-item dropdown">
                        <img id="fotoU_nu" src="https://via.placeholder.com/100" alt="usuario" class="fotoUsuario">
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown" id="navDrop_nu">
                            Login
                        </a>
                        <!-- <div class="dropdown-menu" aria-labelledby="navDrop">
                                <a href="#" class="dropdown-item">Cerrar</a>
                                <div class="dropdown-divider"></div>
                            </div> -->
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</head>

<body style="background-color:paleturquoise">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">


                    <li class="nav-item active">
                        <a class="nav-link" href="indexUsuario.html">Inicio</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="objetivosUsuario.html">Objetivos</a>
                    </li>

                </ul>

            </div>
        </nav>
    </div>
    <div class="container mt-5">
            <div class="row">
                <div class="col-md-4">    
                    <form>
                        <h1>Agregar Objetivo</h1>
                        <div class="form-register" onsubmit="return validar();">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Objectivo</label>
                                <input type="text" class="form-control" id="Objectivo" placeholder="Ingrese el Objectivo" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Indicadores</label>
                                <input type="text" class="form-control" id="Indicadores" placeholder="Ingrese el Indicadores"required>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Metas</label>
                                <input type="text" class="form-control" id="Metas" placeholder="Ingrese los Metas" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Iniciativas</label>
                                <input type="text" class="form-control" id="Iniciativas" placeholder="Ingrese los Iniciativas"required>
                            </div>
                            <button type="submit" class="btn btn-primary mb-2" href="objetivosUsuario.html"> Agregar</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <button class="btn btn-info btn-lg mb-3" id="boton" onClick='generar()'> Generar Listado de Objetivos</button>
                            <button type="submit" class="btn btn-primary mb-2 ml-5">Buscar</button>
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="inputPassword2" class="sr-only">Buscar Objetivo</label>
                                <input type="text" class="form-control" id="inputObjetivo" placeholder="buscar Objetivo">
                            </div>
                            <div>
                    </div>
                        <table class="table table-dark mt-3">
                                <thead>
                                    <tr class="mb-2">
                                        <th scope="col">#</th>
                                        <th scope="col">Objetivos</th>
                                        <th scope="col">Metas</th>
                                        <th scope="col">Iniciativas</th>
                                        <th scope="col">Indicadores</th>
                                    </tr>
                                </thead>
                                <tbody id="contenido">

                                </tbody>
                        </table>
                </div>
            </div>
        </div>
        <script>
            var contenido = document.querySelector('#contenido')
                function generar() {
                    fetch('http://127.0.0.1:8000/users')
                        .then(res => res.json())
                        .then(datos => {
                            // console.log(datos)
                            tabla(datos)
                        })

                }

                function tabla(datos) {
                    console.log(datos);

                    contenido.innerHTML = ''


                    datos.user.forEach(user => {
                        console.log(user.documento)
                        console.log(user.rol)

                        contenido.innerHTML += `
                            <tr>
                                <th scope="row">${user.id}</th>
                                <td>${user.rol}</td>
                                <td>${user.documento}</td>
                                <td>${user.nombre}</td>
                                <td>${user.apellido}</td>                        
                            </tr>`


                    });
                }

            </script>
        

</body>

</html>