<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <!--<script src="https://kit.fontawesome.com/e7558c5ba9.js"></script>-->

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="../static/css/inicio.css" th:href="@{/css/index.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/usuario.css" th:href="@{/css/index.css}">
    
    <title>Usuario_Registrar</title>

    <div class="container" >
            <nav class="navbar navbar-expand-lg navbar-light bg-light Bnavegacion">
                <a href="#" class="navbar-brand">D'ROCHA S.A</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#contenidoNavegacion"
                    aria-controls="contenidoNavegacion" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--Contenido de navegacion-->
                <div class="collapse navbar-collapse" id="contenidoNavegacion">
                    <ul class="navbar-nav  ml-auto">
                        <li class="nav-item dropdown">
                            <img id="fotoU_nu" src="https://via.placeholder.com/100" alt="usuario" class="fotoUsuario">
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown" id="navDrop_nu">
                                Informacion Usuario
                            </a>
                            <!-- <div class="dropdown-menu" aria-labelledby="navDrop">
                                <a href="#" class="dropdown-item">Cerrar</a>
                                <div class="dropdown-divider"></div>
                            </div> -->
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
</head>

<body style="background-color:paleturquoise"></body>>
    <div class="container jumbotro">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">


           <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">--> 
                <ul class="nav justify-content-center jumbotro">


                    <li class="nav-item active">
                        <a class="nav-link" href="inicio.html">Inicio</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="registro.html"> Registro<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="usuario.html">Usuarios</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="objetivos.html">Objetivos</a>
                    </li>
                </ul>

           <!--</div>--> 
        </nav>
    </div>

    <div class="container mt-4" >
       
            <div class="col-md-4">   
                   
                <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Ingrese Número de Documento" required>
                
                <div class="row-centrar">
                </br>
                        <button  type="button" class="btn btn-info mr-2 btn-lg">Buscar</button>
                        
                </div>        
            </div>
        
    </div> 
    <div class="container my-5">
        <button class="btn btn-info btn-lg" id="boton" onClick='generar()'> Generar Listado de Usuarios</button>
    </br>  
    
        <div class="mt5">
                <table class="table table-dark">
                    <thead>
                      <tr>
                      </br>
                        <th scope="col">#</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Documento</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Correo</th>
                        
                      </tr>
                    </thead>
                    <tbody  id= "contenido">
                     
                    </tbody>
                  </table>
        </div>

        <script >
        var contenido =document.querySelector('#contenido')

            function generar(){
                fetch('http://127.0.0.1:8000/users')  
                    .then(res => res.json() ) 
                    .then (datos => {

                       // console.log(datos)

                       tabla(datos)
                    })

            }

            function tabla(datos){
              console.log(datos);

                contenido.innerHTML=''


                    datos.user.forEach(user => {
                      console.log(user.documento)
                        console.log(user.rol)

                        contenido.innerHTML += `
                        <tr>
                            <th scope="row">${user.id}</th>
                            <td>${user.rol}</td>
                            <td>${user.documento}</td>
                            <td>${user.nombre}</td>
                            <td>${user.apellido}</td>
                            <td>${user.telefono}</td>
                            <td>${user.direccion}</td>
                            <td>${user.correo}</td>
                         </tr>
                        `


                    });
            }
           
        </script>
        </div>
    </div>
</body>
</html>