/* You can add global styles to this file, and also import other style files */
/*body{
	background-color: #eee;
}*/
body{
	background-image: url(./assets/img/data-2.jpg) !important;
	background-size: cover !important;
}

table {
	background-color: #fff;
	color : #045068;
}

td {
	background-color: #fff;
	color: #045068;
}

tr {
	background-color: #fff;
	color: #045068;
}

th {
	color: #045068 !important;

}
