<div class="container">
	
	<div class="row mt-5">
		
		<div class="col-md-12">
			
			<div class="col-md-9" id="logo">
				
			</div>

			<div class="col-md-3 bl">
				
				<div class="thumbnail">
				
					<form [formGroup]="loginForm" #formL="ngForm" (ngSubmit)="onSubmit(user.value, pass.value)">
					
					<div class="form-group text-center">
						<p>{{mensaje_info}}</p>
						<div class="input-group">
						
  <span class="input-group-addon" id="basic-addon1"><i class="far fa-user"></i></span>
  <input type="text" class="form-control" #user formControlName="user" placeholder="Usuario" aria-describedby="basic-addon1">
</div>
					</div>

					<div class="form-group text-center">
						
					<div class="input-group">
  <span class="input-group-addon" id="basic-addon1"><i class="fas fa-key"></i></span>
  <input type="password" class="form-control" #pass formControlName="pass" placeholder="Contraseña" aria-describedby="basic-addon1">
</div>

					</div>

					<div class="form-group text-center">
						<input type="submit" [disabled]="!formL.form.valid" class="btn btn-info" value="Ingresar" name="">
					</div>

				</form>


				</div>
				
			</div>

		</div>

	</div>

</div>