<div class="container">
	
	<div class="row">
		
		<div class="col-md-12">
			 
			<div class="col-md-6">
					
				<form [formGroup]="indicadorForm" #indiForms (ngSubmit)="crear()" autocomplete="off">
					<label>{{customTitle}} {{f.get('id').value}}</label>
				<div class="form-group">
					

					<input type="hidden" formControlName="Id_Usuario" name="Id_Usuario">

					<input class="form-control" formControlName="NombreObjetivo" type="text" placeholder="Objetivo" name="NombreObjetivo" required>

				</div>
				<div class="form-group">
					
					<input class="form-control" type="text" formControlName="Indicador" placeholder="Indicador %" name="Indicador" required>

				</div>

				<div class="form-group">
					
					<input class="form-control" formControlName="Meta" type="text" placeholder="Meta" name="Meta" required>

				</div>

				<div class="form-group">
					
					<input class="form-control" type="text" formControlName="Iniciativa" placeholder="Iniciativa" name="Iniciativa" required>

				</div>

				<div class="form-group">

					 <input *ngIf="cant_datos < 10 || f.get('id').value != ''" type="submit" [disabled]="!indicadorForm.valid || (cant_datos >= 10 && f.get('id').value == '')" class="btn btn-info" value="{{boton}}" name="">
					 <br>
					 <span *ngIf="cant_datos >= 10" class="label label-danger">Ha superado el limite de indicadores</span>
					 <br>
					 <br>
					 <span class="label label-success">{{texto}}</span>
				</div>

				</form>
			</div>


		</div>

	</div>

</div>