<style type="text/css">
	a.disable{
  pointer-events: none;
	}

	a.disable:hover{
  cursor: no-drop;
	}
</style>
<div class="container">
	
	<nav aria-label="...">
  <ul class="pager">
	  aca esta la condicion dell rol, que si el rol del usuario es del mismo que el menu, deja ver el icono para usar sarlo
	  pero hay alguna palabra que usas para financiero o se puede defir por uno mismo
	  no, los usuarios ya se crean por bd, ahi se le asigna el permiso,
	  pana una pregunta es que mire que en la base de datos es esto , el administrador no deja entrar 
	  y solamente alugnos usuarios tienen permisos de entrar, eso va enlazado con el id?

	  en este caso el que se puede 
	  es que lo que veo que si un usuario tiene el mismo numero de que eta creado en a tabla roles ese usuario
	  puedo modificar  y si no tiene el mismo nuemro solo puede ver y no modificar entonces la palabra que tiene admin influye en algo
    <li class="previous"><a [routerLink]="['/main']"><span aria-hidden="true">&larr;</span> Volver</a></li>
    <li *ngIf="rol == rol_user" class="next"><a [ngClass]="{'disable' : datos.length >= 10}" data-toggle="modal" data-target="#exampleModal" (click)="open()" href="javascript:void(0)"x	><i class="fas fa-hand-holding-usd"></i> Crear Indicadores</a>
    <span *ngIf="datos.length >= 10">Limite de indicadores Excedido</span>
    </li>
  </ul>
</nav>
	



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Creación de Objetivos</h5>
      </div>
      <div class="modal-body">
      	<div class="row">
      		
      		<div class="col-sm-12">
      	 <app-menu-creacion 
      	 [customTitle]="titulo" 
      	 [cant_datos]="datos.length"
      	 [modelo]="modelo"
      	 ></app-menu-creacion>			 
      		</div>

      	</div>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="getData()" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

	<div class="row mt-10">
	<div class="title text-center">
		<label>{{titulo}}</label>
	</div>
	</div>


	<div class="row mt-10">
		
		<div class="col-md-12">
			
			<table class="table table-hover table-solid table-border">
				
				<thead>
					<th>Objetivos</th>
					<th>Indicador</th>
					<th>Meta</th>
					<th>Iniciativa</th>
					<th></th>
				</thead>

				<tbody>
					<tr *ngFor="let dato of datos">
					<td>{{dato.NombreObjetivo}}</td>
					<td>{{dato.Indicador}}</td>
					<td>{{dato.Meta}}</td>
					<td>{{dato.Iniciativa}}</td>
					<td *ngIf="rol != rol_user">Sin Permisos</td>
					<td *ngIf="rol == rol_user" ><a  href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal" (click)="edit(dato.id, dato.NombreObjetivo, dato.Indicador,dato.Meta,dato.Iniciativa);" title="Editar"><i class="far fa-edit"></i></a>
						<a href="javascript:void(0)" (click)="delete(dato.id);" title="Eliminar"><i class="far fa-trash-alt"></i></a>
					</td>
					</tr>
				</tbody>

			</table>

		</div>

	</div>

</div>