.finance{
	background-color: #68B92E;
}

.client{
	background-color: #C52720;
}

.bussines{
	background-color: #239DC7;
}

.learn{
	background-color: #684289;
}
p{
	color: white
}
label{
	color: white;
}

.mt-10{
	margin-top: 10%;
}

.mt-2{
	margin-top: 2%;
}

div{
	border-radius: 20px;
}

