<div class="container">
	
<nav aria-label="...">
  <ul class="pager">
     <li class="next"><a (click)="destroy_session()" [routerLink]="['/login']">Salir <i class="fas fa-power-off"></i></a></li>
  </ul>
</nav>

	<div class="row mt-10">
		 
		<div class="col-md-12">
			
			<a [routerLink]="['/financiero']">
			<div class="col-md-offset-4 col-md-4 finance text-center">
				<label>FINANCIERO</label>
				<p>Para tener éxito financiero, cómo deberiamos aparecer ante nuestros clientes?</p>
			</div>
			</a>

			<a [routerLink]="['/clientes']">
			<div class="col-md-offset-1 col-md-4 client text-center mt-2">
				<label>CLIENTES</label>
				<p>Para alcanzar nuestros objetivos, cómo deberiamos ser vistos por los clientes?</p>
			</div>
			</a>

			<a [routerLink]="['/interno']">
			<div class="col-md-offset-1 col-md-4 bussines text-center mt-2">
				<label>PROCESO INTERNOS DEL NEGOCIO</label>
				<p>Para satisfacer a los clientes, en qué procesos debemos sobresalir?</p>
			</div>
			</a>

			<a [routerLink]="['/aprendizaje']">
			<div class="col-md-offset-4 col-md-4 learn text-center mt-2">
				<label>APRENDIZAJE Y CRECIMIENTO</label>
				<p>Para alcanzar nuestro objetivo, cómo mantener la habilidad de cambiar progresar</p>
			</div>
			</a>

		</div>

	</div>

</div>
